{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="hero" class="hero overlay subpage-hero about-hero">
        <div class="hero-content">
            <div class="hero-text">
                <h1>Our Story</h1>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'home:index' %}">Home</a></li>
                  <li class="breadcrumb-item active">About Us</li>
                </ol>
            </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
    </div><!-- /.hero -->

<div id="main" class="tw-bg-black tw-py-4 tw-pb-8">
    <div class="tw-py-8">
        <h1 class="tw-text-center tw-pt-2 tw-pb-4 tw-text-pretty tw-text-5xl tw-font-semibold tw-tracking-tight tw-text-white sm:tw-text-7xl">
            Who We Are
        </h1>
        <p class="tw-px-16 tw-py-4 tw-font-medium">
            Kane Tower, the disruptive boutique agency that dares to be different. With a 360 tailored approach and a personal touch, we go above and beyond to meet the unique needs of each client. What sets us apart is that we are people who get people. As simple as that.
        </p>
        <p class="tw-px-16 tw-py-4 tw-font-medium">
            We envision a future where our work not only accelerates business success but also contributes to a more sustainable, socially responsible world. By combining global perspectives with a personal touch, we aim to be the partner that businesses trust to unlock their full potential, regardless of location, industry, or challenge.
        </p>
    </div>

    <div class="tw-flex tw-flex-wrap tw-py-10 tw-px-14">
        <div class="tw-w-full lg:tw-w-1/2 tw-flex tw-items-center tw-justify-center">
            <img src="{% static '/img/emilio.jpeg' %}" alt="About Us Image"
                class="tw-rounded-lg tw-shadow-lg tw-object-cover" style="max-width: 75%; height: auto;">
        </div>
        <div class="tw-w-full lg:tw-w-1/2 tw-px-6 tw-pb-10">
            <div class="">
                <h1 class="tw-py-6 tw-text-pretty tw-text-5xl tw-font-semibold tw-tracking-tight tw-text-white sm:tw-text-7xl">Meet Emilio</h1>
                <p class="tw-py-6 tw-w-full tw-mt-8 tw-text-justify tw-text-indent-8 tw-text-pretty tw-text-lg tw-font-medium tw-text-white sm:tw-text-2xl/8">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Born in Mexico City, Emilio’s entrepreneurial journey began while living in France, where he co-founded Heartbeat Ukraine, a venture that gained international recognition and support during the prestigious Cannes Film Festival. Inspired by its success and the potential to drive purposeful change, he expanded this vision by founding KaneTower, a derivative of KaneAgency, dedicated to fostering innovative projects that connect people and ideas with intention and impact.
                </p>
                <p class="tw-py-6 tw-mt-8 tw-text-justify tw-text-pretty tw-text-lg tw-font-medium tw-text-white sm:tw-text-2xl/8">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Emilio’s expertise is built on a foundation of academic excellence and real-world experience. He holds a Master’s in Business with a focus on Entrepreneurship and Hospitality from Glion Institute of Higher Education in Switzerland. His achievements earned him the Professional Excellence Award and the honor of being selected as the Senior Ambassador and Speaker at his graduation ceremony. He also earned a bachelor’s degree in commerce from Concordia University in Montreal, equipping him with a unique blend of strategic insight and global perspective.
                </p>
            </div>
        </div>
    </div>
        <div class="tw-flex tw-flex-wrap tw-py-10 tw-px-14">
        <!-- Image section -->
        <div class="tw-w-full lg:tw-w-1/2 tw-flex tw-items-center tw-justify-center tw-order-1 lg:tw-order-2">
            <img src="{% static '/img/sofia.jpg' %}" alt="About Us Image"
                 class="tw-rounded-lg tw-shadow-lg tw-object-cover" style="max-width: 75%; height: auto;">
        </div>
        <!-- Text section -->
        <div class="tw-w-full lg:tw-w-1/2 tw-px-6 tw-pb-10 tw-order-2 lg:tw-order-1 ">
            <div class="">
                <h1 class="tw-py-6 tw-text-pretty tw-text-5xl tw-font-semibold tw-tracking-tight tw-text-white sm:tw-text-7xl">Meet Sofia</h1>
                <p class="tw-py-6 tw-text-justify tw-mt-8 tw-text-pretty tw-text-l tw-font-medium tw-text-white sm:tw-text-2xl/8">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sofía is a passionate and strategic leader with a global perspective, combining years of experience in Brand Strategy, Marketing, Sales, Ecomm, Brand Consulting, and Sustainability. Having worked in multinational companies (including P&G, Santander, etc.) and done projects across Mexico, Madrid, London, and Ghana, she brings a unique, cross-cultural approach to every project she tackles. Sofía decided to join Emilio co-founding the new Brand Consultancy Agency, Kane Tower.
                </p>
                <p class="tw-py-6 tw-mt-8 tw-text-justify tw-text-pretty tw-text-l tw-font-medium tw-text-white sm:tw-text-2xl/8">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Her work is driven by a deep commitment to positive change – whether through transforming brands, driving innovative campaigns, or creating sustainable business practices. From developing PR strategies for iconic brands to spearheading green finance initiatives in Mexico, Sofía is all about creating solutions that not only drive business success but also contribute to a better world.
                </p>
            </div>
        </div>
    </div>
<!-- Values section -->
    <div class="tw-py-14 tw-my-10">
        <div class="tw-flex tw-justify-center tw-align-middle lg:tw-mx-0">
            <h2 class="tw-pt-2 tw-pb-4 tw-text-pretty tw-text-5xl tw-font-semibold tw-tracking-tight tw-text-white sm:tw-text-7xl">Our Values</h2>
        </div>
        <div class="tw-flex tw-align-middle tw-justify-center">
  <dl class="tw-mx-auto tw-mt-16 tw-grid tw-grid-cols-1 tw-gap-8 tw-text-xl tw-text-gray-300 sm:tw-grid-cols-2 lg:tw-mx-0 lg:tw-max-w-none lg:tw-grid-cols-3 lg:tw-gap-x-16">
    <div class="tw-relative tw-pl-14 tw-pt-3 tw-p-10">
      <dt class="tw-inline tw-font-semibold">
        <svg class="tw-absolute tw-left-1 tw-top-1 tw-size-12" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M4.606 12.97a.75.75 0 0 1-.134 1.051 2.494 2.494 0 0 0-.93 2.437 2.494 2.494 0 0 0 2.437-.93.75.75 0 1 1 1.186.918 3.995 3.995 0 0 1-4.482 1.332.75.75 0 0 1-.461-.461 3.994 3.994 0 0 1 1.332-4.482.75.75 0 0 1 1.052.134Z" clip-rule="evenodd" > </path>
            <path fill-rule="evenodd" d="M5.752 12A13.07 13.07 0 0 0 8 14.248v4.002c0 .414.336.75.75.75a5 5 0 0 0 4.797-6.414 12.984 12.984 0 0 0 5.45-10.848.75.75 0 0 0-.735-.735 12.984 12.984 0 0 0-10.849 5.45A5 5 0 0 0 1 11.25c.001.414.337.75.751.75h4.002ZM13 9a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" clip-rule="evenodd" > </path>
        </svg>
        Global Perspective, Local Impact
      </dt>
    </div>
    <div class="tw-relative tw-pl-14 tw-pt-3 tw-p-10">
      <dt class="tw-inline tw-font-semibold">
        <svg class="tw-absolute tw-left-1 tw-top-1 tw-size-12 tw-text-white-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M11 2a1 1 0 1 0-2 0v6.5a.5.5 0 0 1-1 0V3a1 1 0 1 0-2 0v5.5a.5.5 0 0 1-1 0V5a1 1 0 1 0-2 0v7a7 7 0 1 0 14 0V8a1 1 0 1 0-2 0v3.5a.5.5 0 0 1-1 0V3a1 1 0 1 0-2 0v5.5a.5.5 0 0 1-1 0V2Z" clip-rule="evenodd" > </path>
        </svg>
        Creativity with Purpose
      </dt>
    </div>
    <div class="tw-relative tw-pl-14 tw-pt-3 tw-p-10">
      <dt class="tw-inline tw-font-semibold">
        <svg class="tw-absolute tw-left-1 tw-top-1 tw-size-12 tw-text-white-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path d="M10 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM6 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM1.49 15.326a.78.78 0 0 1-.358-.442 3 3 0 0 1 4.308-3.516 6.484 6.484 0 0 0-1.905 3.959c-.023.222-.014.442.025.654a4.97 4.97 0 0 1-2.07-.655ZM16.44 15.98a4.97 4.97 0 0 0 2.07-.654.78.78 0 0 0 .357-.442 3 3 0 0 0-4.308-3.517 6.484 6.484 0 0 1 1.907 3.96 2.32 2.32 0 0 1-.026.654ZM18 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM5.304 16.19a.844.844 0 0 1-.277-.71 5 5 0 0 1 9.947 0 .843.843 0 0 1-.277.71A6.975 6.975 0 0 1 10 18a6.974 6.974 0 0 1-4.696-1.81Z" > </path>
        </svg>
        Results-Driven, People-Centric
      </dt>
    </div>
    <div class="tw-relative tw-pl-14 tw-pt-3 tw-p-10">
      <dt class="tw-inline tw-font-semibold">
        <svg class="tw-absolute tw-left-1 tw-top-1 tw-size-12 tw-text-white-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M9.664 1.319a.75.75 0 0 1 .672 0 41.059 41.059 0 0 1 8.198 5.424.75.75 0 0 1-.254 1.285 31.372 31.372 0 0 0-7.86 3.83.75.75 0 0 1-.84 0 31.508 31.508 0 0 0-2.08-1.287V9.394c0-.244.116-.463.302-.592a35.504 35.504 0 0 1 3.305-2.033.75.75 0 0 0-.714-1.319 37 37 0 0 0-3.446 2.12A2.216 2.216 0 0 0 6 9.393v.38a31.293 31.293 0 0 0-4.28-1.746.75.75 0 0 1-.254-1.285 41.059 41.059 0 0 1 8.198-5.424ZM6 11.459a29.848 29.848 0 0 0-2.455-1.158 41.029 41.029 0 0 0-.39 3.114.75.75 0 0 0 .419.74c.528.256 1.046.53 1.554.82-.21.324-.455.63-.739.914a.75.75 0 1 0 1.06 1.06c.37-.369.69-.77.96-1.193a26.61 26.61 0 0 1 3.095 2.348.75.75 0 0 0 .992 0 26.547 26.547 0 0 1 5.93-3.95.75.75 0 0 0 .42-.739 41.053 41.053 0 0 0-.39-3.114 29.925 29.925 0 0 0-5.199 2.801 2.25 2.25 0 0 1-2.514 0c-.41-.275-.826-.541-1.25-.797a6.985 6.985 0 0 1-1.084 3.45 26.503 26.503 0 0 0-1.281-.78A5.487 5.487 0 0 0 6 12v-.54Z" clip-rule="evenodd" > </path>
        </svg>
        Sustainability and Responsibility
      </dt>
    </div>
    <div class="tw-relative tw-pl-14 tw-pt-3 tw-p-10">
      <dt class="tw-inline tw-font-semibold">
        <svg class="tw-absolute tw-left-1 tw-top-1 tw-size-12 tw-text-white-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path d="M15.98 1.804a1 1 0 0 0-1.96 0l-.24 1.192a1 1 0 0 1-.784.785l-1.192.238a1 1 0 0 0 0 1.962l1.192.238a1 1 0 0 1 .785.785l.238 1.192a1 1 0 0 0 1.962 0l.238-1.192a1 1 0 0 1 .785-.785l1.192-.238a1 1 0 0 0 0-1.962l-1.192-.238a1 1 0 0 1-.785-.785l-.238-1.192ZM6.949 5.684a1 1 0 0 0-1.898 0l-.683 2.051a1 1 0 0 1-.633.633l-2.051.683a1 1 0 0 0 0 1.898l2.051.684a1 1 0 0 1 .633.632l.683 2.051a1 1 0 0 0 1.898 0l.683-2.051a1 1 0 0 1 .633-.633l2.051-.683a1 1 0 0 0 0-1.898l-2.051-.683a1 1 0 0 1-.633-.633L6.95 5.684ZM13.949 13.684a1 1 0 0 0-1.898 0l-.184.551a1 1 0 0 1-.632.633l-.551.183a1 1 0 0 0 0 1.898l.551.183a1 1 0 0 1 .633.633l.183.551a1 1 0 0 0 1.898 0l.184-.551a1 1 0 0 1 .632-.633l.551-.183a1 1 0 0 0 0-1.898l-.551-.184a1 1 0 0 1-.633-.632l-.183-.551Z" > </path>
        </svg>
        Innovation and Agility
      </dt>
    </div>
    <div class="tw-relative tw-pl-14 tw-pt-3 tw-p-10">
      <dt class="tw-inline tw-font-semibold">
        <svg class="tw-absolute tw-left-1 tw-top-1 tw-size-12 tw-text-white-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path d="M10 2a.75.75 0 0 1 .75.75v1.5a.75.75 0 0 1-1.5 0v-1.5A.75.75 0 0 1 10 2ZM10 15a.75.75 0 0 1 .75.75v1.5a.75.75 0 0 1-1.5 0v-1.5A.75.75 0 0 1 10 15ZM10 7a3 3 0 1 0 0 6 3 3 0 0 0 0-6ZM15.657 5.404a.75.75 0 1 0-1.06-1.06l-1.061 1.06a.75.75 0 0 0 1.06 1.06l1.06-1.06ZM6.464 14.596a.75.75 0 1 0-1.06-1.06l-1.06 1.06a.75.75 0 0 0 1.06 1.06l1.06-1.06ZM18 10a.75.75 0 0 1-.75.75h-1.5a.75.75 0 0 1 0-1.5h1.5A.75.75 0 0 1 18 10ZM5 10a.75.75 0 0 1-.75.75h-1.5a.75.75 0 0 1 0-1.5h1.5A.75.75 0 0 1 5 10ZM14.596 15.657a.75.75 0 0 0 1.06-1.06l-1.06-1.061a.75.75 0 1 0-1.06 1.06l1.06 1.06ZM5.404 6.464a.75.75 0 0 0 1.06-1.06l-1.06-1.06a.75.75 0 1 0-1.061 1.06l1.06 1.06Z" > </path>
        </svg>
        Boldness and Transparency
      </dt>
    </div>
  </dl>
        </div>
</div>

    <div class="tw-py-8">
        <h1 class="tw-text-center tw-pt-2 tw-pb-4 tw-text-pretty tw-text-5xl tw-font-semibold tw-tracking-tight tw-text-white sm:tw-text-7xl">
            Our Approach
        </h1>
        <p class="tw-px-16 tw-py-4 tw-font-medium">
           What sets Kane Tower apart is our people. We don’t just understand business—we understand people. Led by a dynamic duo of international entrepreneurs with diverse backgrounds, our agency brings together strategic thinking, creative solutions, and cross-cultural expertise to deliver results that matter. From Sofía’s global perspective in brand strategy and sustainability to Emilio’s innovative approach to connecting people and projects with purpose, we combine business acumen with a passion for making a positive difference. 
        </p>
        <p class="tw-px-16 tw-py-4 tw-font-medium">
           At Kane Tower, we don’t just talk about being different—we are different. By leveraging our multicultural insights, creative prowess, and results-driven mindset, we deliver bespoke strategies that go beyond the conventional, always staying true to the human connection at the heart of everything we do. 
        </p>
    </div>
</div>
    <div class="tw-border-t tw-border-t-gray-700  md:tw-flex md:tw-items-center md:tw-justify-between">

    </div>


{% endblock %}
