<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

                <div class="selectpicker-checkboxes-radiobtn mt-50">
                    <h2 class="text-center heading-separator">Selectpicker, Checkboxes and Radiobuttons</h2>
                    <div class="row">

                        <div class="col-sm-4">
                            <select class="selectpicker">
                                <option>France</option>
                                <option>Spain</option>
                                <option>Italy</option>
                            </select>
                        </div>

                        <div class="col-sm-4 mt-20">
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox1">
                                <label for="checkbox1">Red</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox2">
                                <label for="checkbox2">Yellow</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox3">
                                <label for="checkbox3">White</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox4">
                                <label for="checkbox4">Green</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox5">
                                <label for="checkbox5">Black</label>
                            </div>
                        </div>

                        <div class="col-sm-4 mt-20">
                            <div class="radio-btn">
                                <input type="radio" name="radio-btn" id="radio-btn1">
                                <label for="radio-btn1">Football</label>
                            </div>
                            <div class="radio-btn">
                                <input type="radio" name="radio-btn" id="radio-btn2">
                                <label for="radio-btn2">Basketball</label>
                            </div>
                            <div class="radio-btn">
                                <input type="radio" name="radio-btn" id="radio-btn3">
                                <label for="radio-btn3">Volleyball</label>
                            </div>
                            <div class="radio-btn">
                                <input type="radio" name="radio-btn" id="radio-btn4">
                                <label for="radio-btn4">Baseball</label>
                            </div>
                            <div class="radio-btn">
                                <input type="radio" name="radio-btn" id="radio-btn5">
                                <label for="radio-btn5">Hockey</label>
                            </div>
                        </div>
                    </div>
                </div><!-- /.selectpicker-checkboxes-radiobtn -->


                <div class="ui-tabs-accordion mt-50">
                    <h2 class="text-center heading-separator">Tabs and Accordion</h2>
                    <div class="row">

                        <div class="col-md-6">

                            <ul class="nav nav-tabs tab-style" role="tablist">
                                <li class="active"><a aria-expanded="true" href="#htab1" role="tab" data-toggle="tab">Tab 1</a></li>
                                <li class=""><a aria-expanded="false" href="#htab2" role="tab" data-toggle="tab">Tab 2</a></li>
                                <li class=""><a aria-expanded="false" href="#htab3" role="tab" data-toggle="tab">Tab 3</a></li>
                            </ul><!-- /.nav-tabs -->

                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="htab1">
                                    <p>Web design encompasses many different skills and disciplines in the production and maintenance of websites. The different areas of web design include web graphic design; interface design; authoring, including standardised code and proprietary software; user experience design; and search engine optimization.</p>
                                </div><!-- /.tab-pane  -->
                                <div class="tab-pane fade" id="htab2">
                                    <p>Front-end web development, also known as client-side development is the practice of producing HTML, CSS and JavaScript for a website or Web Application so that a user can see and interact with them directly.</p>
                                </div><!-- /.tab-pane -->
                                <div class="tab-pane fade" id="htab3">
                                    <p>A rule of thumb is that the front (or "client") side is any component manipulated by the user. The server-side (or "back end") code usually resides on the server, often far removed physically from the user.</p>
                                </div><!-- /.tab-pane  -->
                            </div><!-- /.tab-content -->

                        </div>

                        <div class="col-md-6">

                            <div class="panel-group accordion mb-50" id="accordion">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="collapsed" aria-expanded="false" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                Web Design
                                            </a>
                                        </h4><!-- /.panel-title -->
                                    </div><!-- /.panel-heading -->
                                    <div aria-expanded="false" id="collapseOne" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Web design encompasses many different skills and disciplines in the production and maintenance of websites. The different areas of web design include web graphic design; interface design; authoring, including standardised code and proprietary software; user experience design; and search engine optimization.</p>
                                        </div><!-- /.panel-body -->
                                    </div><!-- /.panel-collapse -->
                                </div><!-- /.panel -->
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                                                Front-end Development
                                            </a>
                                        </h4><!-- /.panel-title -->
                                    </div><!-- /.panel-heading -->
                                    <div aria-expanded="false" id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Front-end web development, also known as client-side development is the practice of producing HTML, CSS and JavaScript for a website or Web Application so that a user can see and interact with them directly.</p>
                                        </div><!-- /.panel-body -->
                                    </div><!-- /.panel-collapse -->
                                </div><!-- /.panel -->
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="false" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                                                Back-end Development
                                            </a>
                                        </h4><!-- /.panel-title -->
                                    </div><!-- /.panel-heading -->
                                    <div aria-expanded="false" id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>A rule of thumb is that the front (or "client") side is any component manipulated by the user. The server-side (or "back end") code usually resides on the server, often far removed physically from the user.</p>
                                        </div><!-- /.panel-body -->
                                    </div><!-- /.panel-collapse -->
                                </div><!-- /.panel -->
                            </div><!-- /.panel-group -->

                        </div>

                    </div>
                </div>

                <div class="ui-pagination mt-50">
                    <h2 class="text-center heading-separator">Pagination</h2>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <ul class="pagination">
                                <li><a href="#">&lt;&lt;</a></li>
                                <li><a href="#">&lt;</a></li>
                                <li class="more"><a href="#">...</a></li>
                                <li><a href="#">31</a></li>
                                <li class="active"><a href="#">32</a></li>
                                <li><a href="#">33</a></li>
                                <li class="more"><a href="#">...</a></li>
                                <li><a href="#">&gt;</a></li>
                                <li><a href="#">&gt;&gt;</a></li>
                            </ul><!-- /.pagination -->
                        </div>
                    </div>
                </div><!-- /.ui-pagination -->

</body>
</html>