{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="hero" class="hero overlay">
        <div class="hero-content">
            <div class="hero-text square">
                <h1>K A N E &nbsp; T O W E R</h1>
                {% if content.intro_text %}
                    <p>{{ content.intro_text | safe }}</p>
                {% endif %}
                <a href="#services" class="btn btn-border">Learn more</a>
            </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
    </div><!-- /.hero -->

    <main id="main" class="site-main">
{#    <div class="parallax-kane-didot"></div>#}

        <section class="site-section section-services gray-bg text-center" id="services">
            <div class="container">
                <h2 class="heading-separator">Solutions</h2>
                {% if content.services_text %}
                    <p class="subheading-text">{{ content.services_text | safe}}</p>
                {% endif %}
                <div class="row">
                    {% if services %}
                        {% for service in services %}
                        <div class="col-md-3 col-xs-6">
                            <div class="service">
                                <div class="tw-flex tw-items-center tw-justify-center">
                                    <a href="{% url 'home:services' %}#{{ service.service_name }}-id"><img src="{{ service.icon.url }}" alt="{{ service.service_name }} Icon"></a>
                                </div>
                                <h3 class="service-title">{{ service.service_name }}</h3>
                                <div class="tw-flex tw-justify-center">
                                    <div>
                                        {{ service.short_description | safe }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <a href="{% url 'home:services' %}" class="btn mb-10">Learn More</a>
            </div>
        </section><!-- /.section-services -->
{#        <div class="parallax-kane-flip"></div>#}


        <section class="site-section section-portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="heading-separator">Our Impact</h2>
                    {% if content.latest_projects_text %}
                        <p class="subheading-text">{{ content.latest_projects_text | safe }}</p>
                    {% endif %}
                </div>
                <div class="row">
                    {% if portfolio_items %}
                        {% for portfolio_item in portfolio_items %}
                            <div class="col-lg-3 col-md-4 col-xs-6">
                                <div class="portfolio-item">
                                    {% if portfolio_item.front_image %}
                                        <img src="{{ portfolio_item.front_image.url }}" class="img-res"
                                         alt="{{ portfolio_item.title }} Image">
                                    {% endif %}
                                    <h4 class="portfolio-item-title">{{ portfolio_item.title }}</h4>
                                    <a href="{% url 'home:portfolio_item' pk=portfolio_item.id %}">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                </div><!-- /.portfolio-item -->
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            <div class="tw-flex tw-justify-center tw-items-center">
                <a href="{% url 'home:portfolio' %}" class="btn btn-border tw-my-14">More Projects</a>
            </div>
            </div>
        </section><!-- /.section-portfolio -->
        <div class="parallax-bline"></div>

    </main><!-- /#main -->
{% endblock %}