{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="hero" class="hero overlay subpage-hero service-hero">
        <div class="hero-content">
            <div class="hero-text">
                <h1>Kane's Services</h1>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'home:index' %}">Home</a></li>
                  <li class="breadcrumb-item active">Services</li>
                </ol>
            </div>
        </div>
    </div>
    <br>
    <main id="main" class="site-main">
        {% if services %}
            {% for service in services %}
                <div class="service-box" id="{{ service.service_name }}-id">
                    {% if forloop.counter|divisibleby:2 %}
                        <article class="flex-columns">
                    {% else %}
                        <article class="flex-columns flex-reverse">
                    {% endif %}
                        <div class="row">
                              <div class="column">
                                    <div class="column-1">
                                        <img src="{{ service.main_img.url }}" alt="{{ service.service_name }} Image" />
                                    </div>
                              </div>
                              <div class="column">
                                    <div class="column-2 bg-light">
                                          <h2 class="mt-50">{{ service.service_name }}</h2>
                                          <p class="service-description">{{ service.description | safe}}</p>
                                          <a href="#inquiry_form"
    {#                                         ?service={{ service.service_name }}#}
                                             class="btn btn-border mb-10">
                                                <i class="fas fa-chevron"></i>
                                                Submit Request
                                          </a>
                                    </div>
                              </div>
                    </div>
                  </article>
                </div>
            {% endfor %}
        {% endif %}
    {% if services %}
    <div class="divline"></div>
        <section class="site-section section-ui-elements">
            <div class="container">
                <div class="row mt-50">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-center heading-separator" id="inquiry_form">Get In Touch</h2>
                        <!-- Alerts -->
                            <script src="{% static 'js/main.js' %}"></script>
                            {% if messages %}
                              {% for message in messages %}
                                <div id="message" class="alert-message">
                                  <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
{#                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>#}
                                    <strong>
                                      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                        Error:
                                      {% else %}
                                        {{ message.tags|title }}
                                      {% endif %}
                                    </strong>
                                    {{ message }}
                                  </div>
                                </div>
                              {% endfor %}
                            {% endif %}
                        <!-- END -->
                              <!-- FORM   -->
                              <form action="#inquiry_form" method="POST" id="contact_form">{% csrf_token %}
                                    <div class="name">
                                        <label for="name"></label>
                                        <input maxlength="40" type="text" placeholder="Full name*" name="name" id="name" required>
                                    </div>
                                    <div class="email">
                                        <label for="email"></label>
                                        <input type="email" placeholder="e-mail*" name="email" id="email" required>
                                    </div>
                                    <div class="email-subject">
                                        <label for="email_subject"></label>
                                        <input maxlength="30" type="text" placeholder="Subject*" name="email_subject" id="email_subject" required>
                                    </div>
                                    <div class="service-dp">
                                          <label for="service_type"></label>
                                          <select name="service_type" id="service_type" required>
                                                <option disabled hidden selected value="">Service*</option>
                                            {% for service in services %}
                                                <option value="{{ service.service_name }}">{{ service.service_name }}</option>
                                            {% endfor %}
                                              <option value="Other">Other</option>
                                          </select>
                                    </div>
                                    <div class="budget-dp">
                                          <label for="budget"></label>
                                          <select name="budget" id="budget">
                                                <option disabled hidden selected>Budget</option>
                                                <option value="N/A">N/A</option>
                                                <option value="5-10k">5-10k</option>
                                                <option value="10-20k">10-20k</option>
                                                <option value="20-25k">20-25k</option>
                                                <option value="25-50k">25-50k</option>
                                                <option value="50-50k">50-50k</option>
                                                <option value="100k+">100k+</option>
                                          </select>
                                    </div>
                                    <div class="message">
                                        <label for="inquiry"></label>
                                        <textarea name="inquiry" placeholder="Inquiry*" id="inquiry" cols="30" rows="5" required></textarea>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-border mb-10">Contact us</button>
                                    </div>
                              </form>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}

    </main>
    <script href="{% static 'js/main.js' %}"></script>

{% endblock %}