venv/
.DS_Store
.idea/*
todos.py
/static/
emb/.env
config.ini
emb/local_settings.py
NOTES.md
# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
dbOld.sqlite3
media
node_modules/
tailwind.config.js
package.json
package-lock.json
