asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1652752042988/work
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1638897748254/work
django-js-asset==2.2.0
django-tinymce==3.7.1
Pillow==9.2.0
psycopg2==2.9.3
psycopg2-binary==2.9.3
python-dotenv==0.20.0
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1660580468234/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1631317292236/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1656706066251/work
