# packages in environment at /opt/homebrew/Caskroom/miniforge/base/envs/emb:
#
# Name                    Version                   Build  Channel
asgiref                   3.5.2              pyhd8ed1ab_0    conda-forge
bzip2                     1.0.8                h3422bc3_4    conda-forge
ca-certificates           2022.6.15            h4653dfc_0    conda-forge
django                    4.0                pyhd8ed1ab_1    conda-forge
libffi                    3.4.2                h3422bc3_5    conda-forge
libsqlite                 3.39.2               h2c9beb0_1    conda-forge
libzlib                   1.2.12               ha287fd2_2    conda-forge
ncurses                   6.3                  h07bb92c_1    conda-forge
openssl                   3.0.5                h7aea29f_1    conda-forge
pillow                    9.2.0                    pypi_0    pypi
pip                       22.2.2             pyhd8ed1ab_0    conda-forge
psycopg2                  2.9.3                    pypi_0    pypi
psycopg2-binary           2.9.3                    pypi_0    pypi
python                    3.10.6          hae75cb6_0_cpython    conda-forge
python-dotenv             0.20.0                   pypi_0    pypi
pytz                      2022.2.1           pyhd8ed1ab_0    conda-forge
readline                  8.1.2                h46ed386_0    conda-forge
setuptools                65.3.0             pyhd8ed1ab_1    conda-forge
sqlparse                  0.4.2              pyhd8ed1ab_0    conda-forge
tk                        8.6.12               he1e0b03_0    conda-forge
typing_extensions         4.3.0              pyha770c72_0    conda-forge
tzdata                    2022c                h191b570_0    conda-forge
wheel                     0.37.1             pyhd8ed1ab_0    conda-forge
xz                        5.2.6                h57fd34a_0    conda-forge
